.characteristics .card {
    background: url(../../assets/home-1.jpg);
    background-size: cover;
    position: relative;
    padding: 150px 50px 30px 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;

    width: 600px;
    height: 450px;
}


.characteristics .card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.characteristics .card h2, .characteristics .card hr, .characteristics .card p {
    z-index: 2;
}

.characteristics .card hr {
    background: #FCDC00;
}


.characteristics .s-card hr {
    background: #FCDC00;
}


.display-m {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}


.body-m {
    font-size: 18px;
    font-weight: 400;
    color: #F5F5F5;
    width: 550px;
}


.hr {
    width: 240px;
    background: #FFF500;
    height: 2px;
    border: none;
}


.characteristics .s-card {
    background: #B8A38F;
    padding: 21px 46px 16px 53px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;

    height: fit-content;
    width: 600px;
}


.characteristics > .flex {
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.characteristics > .container {
    width: 90%;
}


.characteristics .container .flex {
    flex-direction: column;
    gap: 20px;
}


.characteristics .c-img {
    background: url(../../assets/home-2.jpg);
    background-size: cover;
}


@media (max-width: 500px) {
    .characteristics > .flex {
        flex-direction: column-reverse;
    }


    .characteristics .s-card {
        width: 380px;
    }


    .characteristics .s-card .display-m {
        font-size: 25px;
    }
    

    .body-m {
        font-size: 17px;
        width: 300px;
    }



    .characteristics .card {
        width: 380px;
        height: 400px;
    }
}