.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 500px;

    margin: 50px 150px;
}


.features .flex {
    align-items: center;
    justify-content: center;
    gap: 150px;
}


.features .features-txt {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.features .features-txt h1 {
    font-size: 60px;
    font-weight: 700;
    color: #000000;
}


.features .features-txt h1 span {
    color: #B8A38F;
}


.features .features-txt p {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    width: 450px;
}


.features .features-txt hr {
    background-color: #FCDC00;
    height: 5px;
    border: none;
}


.features .features-txt > span {
    display: flex;
    align-items: center;
    
    font-size: 30px;
    font-weight: 700;
    color: #B19A87;

    text-transform: uppercase;
}


.product {
    width: 400px;
}


@media (max-width: 500px) {
    .features .flex {
        flex-wrap: wrap;
        gap: 50px;
    }

    
    .features .features-txt h1 {
        font-size: 50px;
        text-align: center;
    }


    .features .features-txt hr {
        display: none;
    }

    .features .features-txt p {
        text-align: center;
        font-size: 25px;
        width: 400px;
    }


    .features .features-txt > span {
        text-align: center;
        font-size: 25px;
    }
}