footer {
    background: #F5EDE5;
    padding: 50px;
}


footer > .flex {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


footer .icon {
    padding: 10px;
    font-size: 45px;
    background: #3A2E28;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}


footer .social {
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}


footer ul {
    gap: 50px;
}


footer ul li a {
    text-transform: uppercase;
    font-size: 15px;
    color: #3A2E28;
    font-weight: 500;
}

@media (max-width: 500px) {
    footer ul {
        flex-direction: column;
    }

    footer > .flex {
        align-items: flex-start;
    }
}