nav .container ul {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


nav.container {
    padding: 16px 0 14px 0;
    border-top: 1px solid #000000;
    margin: 16px auto;
}


nav ul .li {
    text-transform: uppercase;

    font-size: 15px;
    font-weight: 600;
    color: #000000;

    cursor: pointer;
}


nav ul a.active {
    padding: 10px 15px;  
    border-bottom: 3px solid #01AEE7; 
  }