.contacts {
    background: url(../../assets/home-4.jpg);
    background-size: cover;
    padding: 127px 0 126px;
    background-size: cover;
}


.contacts .container {
    width: 410px;
    height: 400px;
    background: #fff;

    padding: 53px 27px 25px 28px;
}


.contacts form {
    flex-direction: column;
    gap: 20px;
}


.contacts form input {
    padding: 10px 20px;
    background: #F0F0F0;
    border: none;
    width: 350px;
}


.contacts form button {
    padding: 12px 50px;
    background: #01AEE7;
    border: none;

    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}


.contacts > .flex {
    flex-direction: column;
    gap: 30px;
}


.contacts h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}


.contacts h6 {
    font-size: 13px;
    font-weight: 400;
}


.contacts p {
    font-size: 13px;
    font-weight: 400;
}